<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title">Example</h2>
          <h4>{{msg}}</h4>
          <table>
            <thead>
              {{#each uniqueKeys}}
                <th>{{this}}</th>
                {{/each}}
            </thead>
            <tbody>
              {{#each data}}
              <tr>
                {{#each ../uniqueKeys }}
                  <td>{{lookup .. this}}</td>
                {{/each}}
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
